@inject ImperitClient http;

@code {
	[Parameter] public Action ToRegistration { get; set; } = () => { };
	[Parameter] public Func<Task>? ReturnAsync { get; set; }
	TimeSpan? TimeToStart = null;
	Server.DisplayablePlayer[]? Players = null, Former = null;
	PlayersPower[]? Powers = null;
	protected override async Task OnInitializedAsync()
	{
		TimeToStart = TimeSpan.FromSeconds(await http.GetJsonAsync<int>("api/Game/TimeToStart"));
		Players = await http.GetJsonAsync<Server.DisplayablePlayer[]>("api/Player/Display");
		this.StateHasChanged();
		Former = await http.GetJsonAsync<Server.DisplayablePlayer[]>("api/Player/Former");
		Powers = await http.GetJsonAsync<PlayersPower[]>("api/Powers/List");
		while (TimeToStart > TimeSpan.FromSeconds(1))
		{
			TimeToStart = TimeToStart - TimeSpan.FromSeconds(1);
			this.StateHasChanged();
			await Task.Delay(1000);
		}
		await Task.Delay(2000);
		await ReturnAsync!();
	}
}
<nav>
	<a class="this">Úvod</a>
	<a @onclick="ToRegistration">Registrace</a>
</nav>
<main>
	@if (TimeToStart is TimeSpan time && time > TimeSpan.Zero && time < TimeSpan.FromDays(1))
	{
		<p>Hra začne za @time.ToString("mm\\:ss")</p>
	}
	else
	{
		<p>Hra ještě nezačala</p>
	}
	@if (Players == null || Players.Length < 1)
	{
		<p>Ještě se nezaregistrovali žádní hráči</p>
	}
	else
	{
		<p>Zaregistrovaní hráči: 
			@foreach (var player in Players)
			{
				<span style="color:@player.Color;">@player.Name </span>
			}
		</p>
	}
	<br/>
	@if (Powers != null && Powers.Length > 2)
	{
		<p>Výsledek minulé hry:</p>
		<PowerGraphs Players="Former" Powers="Powers"/>
	}
</main>