@code{
	[Parameter] public int Width { get; set; }
	[Parameter] public int Height { get; set; }
	[Parameter] public int FontSize { get; set; }
	[Parameter] public Func<Task>? OnClick { get; set; }
	[Parameter] public Point Center { get; set; }
	[Parameter] public string Text { get; set; } = "";
	double X => Center.x * Width;
	double Y => Center.y * Height;
}
<foreignObject x="@(X-40)" y="@(Y-25)" width="80" height="50">
	<div @onclick="OnClick" class="center" style="font-size:@FontSize;" xmlns="http://www.w3.org/1999/xhtml">@Text</div>
</foreignObject>