@inject ImperitClient http;

@code{
	[Parameter] public Data.Session Session { get; set; } = new Data.Session();
	[Parameter] public int Recipient { get; set; }
	[Parameter] public int PlayerMoney { get; set; }
	[Parameter] public string RecipientName { get; set; } = "";
	[Parameter] public Action Return { get; set; } = (() => { });
	Data.Int model = new Data.Int();
	async Task DoDonate()
	{
		if (await http.PostAsync<Data.DonationCmd, bool>("api/Command/Donate", new Data.DonationCmd(Session.U, Session.I, Recipient, model.Value, Session.G)))
		{
			Return();
		}
	}
}
<nav>
	<a @onclick="Return">Zrušit</a>
	<a class="this">Věnování</a>
</nav>
<main>
	@if (model.Value > PlayerMoney)
	{
		<p>Máš jen @PlayerMoney@Sym.Money</p>
	}
	<EditForm Model="@model" OnValidSubmit="DoDonate">
		<DataAnnotationsValidator/><ValidationSummary/>
		<label>
			Darovaná částka:<br/>
			<InputNumber @bind-Value="model.Value" min="1" autofocus/><br/>
		</label>
		<label>Příjemce:<br/><input type="text" value="@RecipientName" disabled="disabled"/><br/></label>
		<button type="submit">Věnovat</button>
	</EditForm>
</main>