@inject ImperitClient http;

@code{
	[Parameter] public Data.Session Session { get; set; } = new Data.Session();
	[Parameter] public Data.PlayerInfo? Recipient { get; set; }
	[Parameter] public Action Return { get; set; } = (() => { });
	Data.Int model = new Data.Int();
	async Task DoDonate()
	{
		if (await http.PostAsync<Data.DonationCmd, bool>("api/Command/Donate", new Data.DonationCmd(Session.P, Session.Key, Recipient!.P, model.Value, Session.G)))
		{
			Return();
		}
	}
}
<nav>
	<a @onclick="Return">Zrušit</a>
	<a class="this">Věnování</a>
</nav>
<main>
	@if (model.Value > Recipient!.M)
	{
		<p>Máš jen @Recipient.M@Sym.Money</p>
	}
	<EditForm Model="@model" OnValidSubmit="DoDonate">
		<DataAnnotationsValidator/><ValidationSummary/>
		<label>
			Darovaná částka:<br/>
			<InputNumber @bind-Value="model.Value" min="1" autofocus/><br/>
		</label>
		<label>Příjemce:<br/><input type="text" value="@Recipient.N" disabled="disabled"/><br/></label>
		<button type="submit">Věnovat</button>
	</EditForm>
</main>