@inject IClient http;
@inject SessionService storage;

@code{
	[Parameter] public Data.PlayerInfo? Recipient { get; set; }
	[Parameter] public System.Action Return { get; set; } = (() => { });
	Model<int> model = new Model<int>();
	async Task DoDonate()
	{
		if (await http.PostAsync<DonationCmd, bool>("api/Command/Donate", new DonationCmd(storage.Player, storage.Key, Recipient!.P, model.Value, storage.GameId)))
		{
			Return();
		}
	}
}
<nav>
	<a @onclick="Return">Zrušit</a>
	<a class="this">Věnování</a>
</nav>
<main>
	@if (model.Value > Recipient!.M)
	{
		<p>Máš jen @Recipient.M@Sym.Money</p>
	}
	<EditForm Model="@model" OnValidSubmit="DoDonate">
		<DataAnnotationsValidator/><ValidationSummary/>
		<label>
			Darovaná částka:<br/>
			<InputNumber @bind-Value="model.Value" min="1" autofocus/><br/>
		</label>
		<label>Příjemce:<br/><input type="text" value="@Recipient.N" disabled="disabled"/><br/></label>
		<button type="submit">Věnovat</button>
	</EditForm>
</main>