@inject ImperitClient http;

@using Mode = StartSwitch.Mode;

@code {
	[Parameter] public Action<Mode> Set { get; set; } = _ => { };
	ImmutableArray<int> Finished;
	Data.Int model = new Data.Int();
	ImmutableArray<Data.ColoredPlayer> Former;
	ImmutableArray<PlayersPower> Powers;
	protected override async Task OnInitializedAsync() => Finished = await http.GetAsync<ImmutableArray<int>>("api/Game/Finished");
	async Task UpdateHistoryGraphs()
	{
		Former = await http.PostAsync<int, ImmutableArray<Data.ColoredPlayer>>("api/Player/Colored", Finished[model.Value]);
		Powers = await http.PostAsync<int, ImmutableArray<PlayersPower>>("api/Powers/List", Finished[model.Value]);
	}
}
<NavMenu Options="Zpět;Historie" Selected="1" OnClick="i => { if (i == 0) { Set(Mode.Login); } }"/>
<main>
	@if (Finished.IsDefaultOrEmpty)
	{
		<p>V historii nejsou uložené žádné odehrané hry</p>
	}
	else
	{
		<EditForm Model="model" OnSubmit="UpdateHistoryGraphs">
			<DataAnnotationsValidator/><ValidationSummary/>
			<p>Hra:</p>
			<p><IntSelect @bind-Value="model.Value" Options="Finished" Name="g => g.ToString()"/></p>
			<button type="submit">Zobrazit</button>
		</EditForm>
	}
	@if (!Former.IsDefaultOrEmpty && !Powers.IsDefaultOrEmpty)
	{
		<PowerGraphs Players="Former" Powers="Powers"/>
	}
</main>