@inject IClient http;

@using Mode = StartSwitch.Mode;

@code {
	[Parameter] public Action<Mode> Set { get; set; } = _ => { };
	Model<string> model = new Model<string>();
	HistoryRecord? Data = null;
	async Task UpdateHistoryGraphs() => Data = await http.PostAsync<string, HistoryRecord?>("api/Game/History", model.Value ?? "");
}
<NavMenu Options="Zpět;Historie" Selected="1" OnClick="i => { if (i == 0) { Set(Mode.Login); } }"/>
<main>
	<EditForm Model="model" OnSubmit="UpdateHistoryGraphs">
		<DataAnnotationsValidator/><ValidationSummary/>
		<p>Jméno hráče:</p>
		<p><InputText @bind-Value="model.Value" /></p>
		<button type="submit">Zobrazit historii hry daného hráče</button>
	</EditForm>
	@if (Data is not null)
	{
		@if (Data.Name is not null)
		{
			<p>Vítěz: <span style="color:@Data.Color;">@Data.Name</span></p>
		}
		<Graphs Players="Data.Colors" Powers="Data.Powers"/>
	}
</main>