@inject ImperitClient http;

@code{
	[Parameter] public Func<int, int, string, Task<bool>>? LoginAsync { get; set; }
	Data.Login model = new Data.Login();
	bool Wrong = false;
	async Task LoginAction()
	{
		if(!await LoginAsync!(model.I, model.G, model.P))
		{
			Wrong = true;
			model.P = "";
		}
	}
	Data.PlayerId[]? players = null;
	protected override async Task OnInitializedAsync()
	{
		players = await http.GetJsonAsync<Data.PlayerId[]>("api/Player/Players");
	}
}
<nav><a class="this">Přihlášení</a></nav>
<main>
	@if (Wrong)
	{
		<p>Zadané heslo není správné</p>
	}
	<EditForm Model="model" OnSubmit="LoginAction">
		<DataAnnotationsValidator/><ValidationSummary/>
		<label>
			Hráč:<br/>
			@if (players != null)
			{
				<IntSelect @bind-Value="model.I" Options="players"/><br/>
			}
		</label>
		<label>Heslo:<br/><InputText type="password" @bind-Value="model.P"/><br/></label>
		<button type="submit">Přihlásit se</button>
	</EditForm>
</main>