@inject ImperitClient http;

@using Mode = StartSwitch.Mode; 

@code{
	[Parameter] public Func<Data.Login, Task<bool>>? LoginAsync { get; set; }
	[Parameter] public Action<Mode> Set { get; set; } = x => { };
	Data.Login model = new Data.Login();
	bool Wrong = false;
	async Task LoginAction()
	{
		if(!await LoginAsync!(model))
		{
			Wrong = true;
			model.P = "";
		}
	}
}
<NavMenu Options="Přihlášení;Registrace;Historie" OnClick="i => Set((Mode)i)"/>
<main>
	@if (Wrong)
	{
		<p>Zadané jméno nebo heslo je špatně (možná ještě nezačala tvá hra)</p>
	}
	<EditForm Model="model" OnSubmit="LoginAction">
		<DataAnnotationsValidator/><ValidationSummary/>
		<p>Jméno:</p><InputText @bind-Value="model.N" autocomplete="username"/>
		<p>Heslo:</p><InputText type="password" @bind-Value="model.P" autocomplete="current-password"/><br/>
		<button type="submit">Přihlásit se</button>
	</EditForm>
</main>