@inject HttpClient http;

@code{
	[Parameter] public Func<int, string, Task<bool>>? LoginAsync { get; set; }
	LoginModel model = new LoginModel();
	bool Wrong = false;
	async Task LoginAction()
	{
		if(!await LoginAsync!(model.Id, model.Password))
		{
			Wrong = true;
			model.Password = "";
		}
	}
	Shared.Data.PlayerId[]? players = null;
	protected override async Task OnInitializedAsync()
	{
		players = await http.GetJsonAsync<Shared.Data.PlayerId[]>("api/Player/Players");
	}
}
<nav><a class="this">Přihlášení</a></nav>
<main>
	@if (Wrong)
	{
		<p>Zadané heslo není správné</p>
	}
	<EditForm Model="model" OnSubmit="LoginAction">
		<DataAnnotationsValidator/><ValidationSummary/>
		<label>
			Hráč:<br/>
			@if (players != null)
			{
				<IntSelect @bind-Value="model.Id" Options="players"/><br/>
			}
		</label>
		<label>Heslo:<br/><InputText type="password" @bind-Value="model.Password"/><br/></label>
		<button type="submit">Přihlásit se</button>
	</EditForm>
</main>