@inject ImperitClient http;

@code{
	[Parameter] public Action Return { get; set; } = (() => { });
	[Parameter] public Data.Session Session { get; set; } = new Data.Session();
	Data.ColoredHuman[]? Players = null;
	PlayersPower[]? PowersArray = null;
	protected override async Task OnInitializedAsync()
	{
		Players = await http.PostAsync<int, Data.ColoredHuman[]>("api/Player/Colored", Session.G);
		PowersArray = (await http.PostAsync<int, PlayersPower[]>("api/Powers/List", Session.G));
	}
}
<nav>
	<a @onclick="Return">Zpět</a>
	<a class="this">Výsledky</a>
</nav>
<main>
	@if (Players != null && PowersArray != null)
	{
		<PowerGraphs Players="Players" Powers="PowersArray"/>
	}
</main>