@inject ImperitClient http;

@using Mode = Server.Switch.Mode;

@code{
	[Parameter] public Action<Mode> Switch { get; set; } = (x => { });
	[Parameter] public int Land { get; set; }
	[Parameter] public Server.Session Session { get; set; } = new Server.Session();
	RecruitModel model = new RecruitModel();
	Server.RecruitInfo? Info = null;
	protected override async Task OnInitializedAsync()
	{
		Info = await http.PostJsonResponseAsync<Server.CmdData, Server.RecruitInfo> ("api/Command/RecruitInfo", new Server.CmdData(Land, Session.U, Session.G));
		model.Soldiers = IntModel.Array(Info.R.Length);
	}
	int Price => Info is null ? 0 : model.Soldiers.Zip(Info.R, (count, type) => count.Value * type.P).Sum();
	int Missing => Price - Info?.M ?? 0;
	async Task DoRecruit()
	{
		if (Missing <= 0 || model.Borrow)
		{
			await http.PostJsonAsync<Server.RecruitCmd>("api/Command/Recruit", new Server.RecruitCmd(Session.U, Session.I, Land, model.Soldiers.Select(s => s.Value).ToArray(), Session.G));
			Switch(Mode.Map);
		}
	}
	SoldierTypeInfobox? infobox;
}
<nav>
	<a @onclick="() => Switch(Mode.Map)">Zrušit</a>
	<a class="this">Verbování</a>
	<a @onclick="() => Switch(Mode.Players)">@Info?.M@Sym.Money</a>
</nav>
<main>
	<SoldierTypeInfobox @ref="infobox" />
	<EditForm Model="model" OnValidSubmit="DoRecruit">
		<DataAnnotationsValidator /><ValidationSummary />
		<p>
			@Info?.N
			@if (!string.IsNullOrWhiteSpace(Info?.S))
			{
				<text>má @Info!.S</text>
			}
			else
			{
				<text>nemá žádné vojáky</text>
			}
		</p>
		<table>
			@foreach (var (i, (type, price)) in (Info?.R?.Index()).Try())
			{
				<tr>
					<td>@type.Name @price@Sym.Money<sup @onclick="() => infobox?.Open(type)">?</sup></td>
					<td><InputNumber @bind-Value="model.Soldiers[i].Value" autofocus /></td>
				</tr>
			}
			@if (Missing > 0)
			{
				<tr>
					<td>Chybí ti @Missing@Sym.Money</td>
					<td>Půjčit si: <InputCheckbox @bind-Value="model.Borrow" /></td>
				</tr>
			}
			else
			{
				model.Borrow = false;
			}
			@if (Missing <= 0 || model.Borrow)
			{
				<tr><td></td><td><button type="submit">Verbovat</button></td></tr>
			}
		</table>
	</EditForm>
</main>