@inject HttpClient http;

@code{
	[Parameter] public Action Return { get; set; } = (() => { });
	string Username { get; set; } = "";
	string Password { get; set; } = "";
	int? Selected = null;
	Shared.Data.DisplayableShape[]? Provinces = null;
	Color NextColor;
	async Task OnSubmit()
	{
		if (Selected is int selected && await http.PostJsonResponseAsync<Shared.Data.RegisteredPlayer, bool>("api/Game/Register", new Shared.Data.RegisteredPlayer(Username, Password, selected)))
		{
			Return();
		}
	}
	protected override async Task OnInitializedAsync()
	{
		NextColor = await http.GetJsonAsync<Color>("api/Game/NextColor");
		Provinces = (await http.GetJsonAsync<IEnumerable<Shared.Data.DisplayableShape>>("api/Provinces/Shapes"))
								.Select(s => s.R ? s.UpdateText(Sym.Flag) : s).ToArray();
	}
	async Task<int?> Select(int i, int? from)
	{
		if (Provinces![i].R)
		{
			Selected = i;
		}
		return Selected;
	}
}
<nav>
	<a @onclick="Return">Přihlášení</a>
	<a class="this">Registrace</a>
	<a @onclick="OnSubmit">Potvrdit</a>
</nav>
<main>
	<p>Jméno:</p><p><input type="text" @bind-value="Username"/></p>
	<p>Heslo:</p><p><input type="password" @bind-value="Password"/></p>
	<p>Vyber si zemi, kde budeš začínat:</p>
	@if (Provinces != null)
	{
		<Map Width="1000" Height="1000" Provinces="Provinces" SelectedColor="NextColor" Select="Select" FontSize="9" />
	}
</main>