@code{
	[Parameter] public Action<bool> Set { get; set; } = (s => { });
	[Parameter] public bool IsRegistration { get; set; }
	[Parameter] public bool IsActive { get; set; }
	string ClassFor(bool item) => item == IsRegistration ? "this" : "";
}

<style>
	nav > a:hover {
		background-color: #28a;
	}
	nav > a.this {
		background-color: #5ef;
		color: #000;
	}
</style>

<nav>
	<a class="@ClassFor(false)" @onclick="() => Set(false)">Přihlášení</a>
	@if (!IsActive)
	{
		<a class="@ClassFor(true)" @onclick="() => Set(true)">Registrace</a>
	}
</nav>