@inject ImperitClient http;

@using Mode = Data.View;

@code{
	[Parameter] public Data.Session Session { get; set; } = new Data.Session();
	[Parameter] public Func<Task>? LogoutAsync { get; set; }
	[Parameter] public Action<Mode, int?, int?, Data.PlayerInfo?> Switch { get; set; } = ((a, x, y, z) => { });
	ImmutableArray<Data.PlayerInfo> Players;
	ImmutableArray<Data.ColoredPlayer> ColoredPlayers;
	ImmutableArray<PlayersPower> Powers;
	int Active = 0;

	void Clicked(int player)
	{
		if (player != Session.P && Players[Session.P].M > 0)
		{
			Switch(Mode.Donation, null, null, Players.Try(Session.P));
		}
	}
	async Task DoGiveUp()
	{
		await http.PostAsync<Data.Session>("api/Command/GiveUp", Session);
		await LogoutAsync!();
	}
	protected override async Task OnInitializedAsync()
	{
		Active = await http.PostAsync<int, int>("api/Game/Active", Session.G);
		Players = await http.PostAsync<Data.Session, ImmutableArray<Data.PlayerInfo>>("api/Player/Infos", Session);
		this.StateHasChanged();
		ColoredPlayers = await http.PostAsync<int, ImmutableArray<Data.ColoredPlayer>>("api/Player/Colored", Session.G);
		Powers = await http.PostAsync<int, ImmutableArray<PlayersPower>>("api/Powers/List", Session.G);
	}
}
<nav>
	<a @onclick="() => Switch(Mode.Map, null, null, null)">Zpět</a>
	<a class="this">@Players.Try(Session.P)?.M@Sym.Money</a>
</nav>
<main>
	@if (!Players.IsDefault)
	{
		<p>Na tahu je: <span style="color:@Players[Active].C;">@Players[Active].N</span></p>
		<table class="players">
			@foreach (var player in Players.Where(p => p.D))
			{
				<tr>
					<td style="color:@player.C;" @onclick="() => Clicked(player.P)">@player.N</td>
					@if (player.A)
					{
						<td>@player.M@Sym.Money</td>
						<td>(+@player.I@Sym.Money)</td>
						<td>
							@if (player.Debt > 0)
							{
								<text>-@player.Debt@Sym.Money</text>
							}
						</td>
					}
					else
					{
						<td colspan="3">není</td>
					}
				</tr>
			}
		</table>
		<p class="link-like" @onclick="DoGiveUp">Vzdát se</p>
		<Graphs Players="ColoredPlayers" Powers="Powers"/>
	}
</main>