@inject IClient http;
@inject SessionService storage;

@using Mode = Data.View;

@code{
	[Parameter] public Func<Task>? LogoutAsync { get; set; }
	[Parameter] public Action<Mode, int?, int?, Data.PlayerInfo?> Switch { get; set; } = ((a, x, y, z) => { });
	ImmutableArray<Data.PlayerInfo> Players;
	ImmutableArray<Powers> Powers;
	int Active = 0;

	void Clicked(int player)
	{
		if (player != storage.Player && Players[storage.Player].M > 0)
		{
			Switch(Mode.Donation, null, null, Players.Try(storage.Player));
		}
	}
	async Task DoGiveUp()
	{
		await http.PostAsync("api/Command/GiveUp", storage.Session);
		await LogoutAsync!();
	}
	protected override async Task OnInitializedAsync()
	{
		Active = await http.PostAsync<int, int>("api/Game/Active", storage.GameId);
		Players = await http.PostAsync<int, ImmutableArray<Data.PlayerInfo>>("api/Player/Infos", storage.GameId);
		StateHasChanged();
		Powers = await http.PostAsync<int, ImmutableArray<Powers>>("api/Powers/List", storage.GameId);
	}
}
<nav>
	<a @onclick="() => Switch(Mode.Map, null, null, null)">Zpět</a>
	<a class="this">@Players.Try(storage.Player)?.M@Sym.Money</a>
</nav>
<main>
	@if (!Players.IsDefaultOrEmpty && !Powers.IsDefaultOrEmpty)
	{
		<p>Na tahu je: <span style="color:@Players[Active].C;">@Players[Active].N</span></p>
		<table class="players">
			@foreach (var (i, name, color, alive, money, debt, income) in Players)
			{
				<tr @onclick="() => Clicked(i)">
					<td style="color:@color;">@name@Sym.Stars(Powers[^1][i].Final)</td>
					@if (alive)
					{
						<td>@money@Sym.Money</td>
						<td>(+@income@Sym.Money)</td>
						<td>
							@if (debt > 0)
							{
								<text>-@debt@Sym.Money</text>
							}
						</td>
					}
					else
					{
						<td colspan="3">není</td>
					}
				</tr>
			}
		</table><br/>
		<button @onclick="DoGiveUp">Vzdát se</button>
		<Graphs Players="Players.Select(p => p.C).ToImmutableArray()" Powers="Powers"/>
	}
</main>