@inject ImperitClient http;
@inject SessionService storage;

@code{
	[Parameter] public Game.State State { get; set; }
	[Parameter] public Func<Task>? LogoutAsync { get; set; }
	[Parameter] public System.Action Start { get; set; } = () => { };
	System.Timers.Timer Timer = new System.Timers.Timer(1000);
	string Text { get; set; } = "";
	StartInfo? Info = null;
	async Task UpdateAsync()
	{
		if (Info is null || Info.S == Game.State.Created || (Info.S == Game.State.Countdown && Info.D < DateTimeOffset.UtcNow.AddSeconds(2)))
		{
			Info = await http.PostAsync<int, StartInfo>("api/Game/StartInfo", storage.GameId);
		}
		if (Info.S == Game.State.Started)
		{
			Timer.Stop();
			Start();
		}
		Text = Info.S switch
		{
			Game.State.Created => "Zatím jsi jediný zaregistrovaný hráč, počkej prosím na další",
			Game.State.Countdown => "Hra začne za " + (Info.D - DateTimeOffset.UtcNow).ToString("mm\\:ss"),
			Game.State.Finished => "Hra již skončila, můžeš se zaregistrovat do další",
			_ => ""
		};
		StateHasChanged();
	}
	protected override async Task OnInitializedAsync()
	{
		await UpdateAsync();
		Timer.Elapsed += async (x, y) => await UpdateAsync();
		Timer.Start();
	}
}

<NavMenu Options="Odhlášení;Hra" Selected="1" OnClickAsync="i => i == 0 ? LogoutAsync!() : Task.Run(() => { })"/>
<main>@Text</main>