nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	background-color: #111;
	overflow: hidden;
}

@media screen and (orientation: landscape) {
	nav {
		flex-direction: column;
		width: 13%;
		height: 100%;
	}

	main {
		width: 87%;
		float: right;
	}

	nav > a {
		padding: 16px 0;
		width: 100%;
	}
}

@media screen and (orientation: portrait) {
	nav {
		flex-direction: row;
	}

	main {
		margin-top: 48px;
	}

	nav, nav > a {
		padding: 0;
		width: 100%;
		height: 48px;
		line-height: 48px;
	}
}

a, a:hover, a:visited, a:active, .link-like {
	color: #ff6;
	text-decoration: none;
	cursor: pointer;
}

nav > a, nav > a:hover, nav > a:visited, nav > a:active {
	color: inherit;
}

body, p, tr, td {
	font: 11px Verdana, sans-serif;
	user-select: none;
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 0;
	align-items: center;
	align-content: center;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
}
tr input, tr button, tr select, tr option {
		margin: 0.6px 0;
}
table.players td:not(:first-child) {
	text-align: right;
	padding: 5px 3px;
}
td:first-child {
	text-align: left;
}

input, button, select, option {
	border: 0;
	outline: none;
	border-radius: 0;
	width: 420px;
	text-align: center;
	padding: 8px;
}

@media screen and (max-width: 600px) {
	input, button, select, option {
		width: 90%;
	}
}

input {
	padding: 8px 0;
}

input:disabled {
	background-color: #bbb;
	color: #111;
}

input[type=checkbox] {
	width: 20px;
}

button {
	background-color: #0f0;
}

svg {
	width: 100%;
	font-size: 8px;
}

ul.validation-errors {
	color: #f22;
	list-style-type: none;
}

svg polyline {
	z-index: -1;
}

svg a {
	z-index: 1;
}

svg.diagram {
	width: 90%;
	border: 5px dotted #777;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

input::-ms-clear, input::-ms-reveal {
	display: none;
}

.popup-box {
	margin: auto;
	padding: 20px;
	background-color: #222;
	width: 60%;
}
.popup-box p {
	background-color: #222;
}
.popup-close {
	color: #fff;
	float: right;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}