<!DOCTYPE html>
<html lang="cs">
	<head>
		<title>@ViewBag.Title</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<base href="~/"/>
		<link href="css/site.css" rel="stylesheet"/>
	</head>
	<body>
		@RenderBody()
	</body>
</html>